
.panel {
    width: 800px;
    margin-left: 500px;
    font-family: Calibri;
}

.panel-body {
        background-color: aliceblue;
        color: #222;
        border: 2px #4b7b4b;
        border-radius:5px;
        display: inline-block;
}
.panel-heading{
    font-size: 20px;
}
.panel-default{
    background-color: #222;
}
