.blog{
    border: 5px solid;
    border-radius:20px;
    padding: 30px;

}
#blogs {
    margin-right: 50px;
    margin-left: 50px;
    background-color: purple;
}
.panel-body {
       background-color: lightsteelblue;
}