
#header {
    background-color: #222;
    color:white;
}

.panel-body {
       background-color: #222;
        color:white;
        border: 2px solid white;
        border-radius:5px;
}
.panel-heading{
    background-color: #222;
    color:white;
}
.panel-default{
    background-color: #222;
}